# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
env/
venv/

# Build outputs
dist/
dist-ssr/
build/

# Environment variables & Secrets
.env
.env.local
.env.*.local
frontend/.env
backend/.env
*.enc
*.key
*.pem

# IDEs
.vscode/
.idea/
.DS_Store

# Local history
.history/
